<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.s5630213023.healthcareproject">

    <permission
        android:name="com.example.test.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.test.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HeartRate.HeartRate.HeartRate_MainActivity"
            android:label="Heart Rate"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HeartRate.HeartRate.MeasureActivity"
            android:label="@string/title_activity_measure"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HeartRate.Menu"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeartRate.bloodpressure.BloodPressure_MainActivity"
            android:label="Blood Pressure"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HeartRate.exercise.Exercise_MainActivity"
            android:label="Exercise"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HeartRate.bloodpressure.Record_BloodPressure"
            android:label="RECORD"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HeartRate.UserSetting"
            android:label="@string/title_activity_user_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HeartRate.EditSetting"
            android:label="@string/title_activity_edit_setting"
            android:theme="@style/AppTheme" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name=".HeartRate.bloodpressure.Pressure"
            android:authorities="PressureDB"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".HeartRate.exercise.Exercise"
            android:authorities="ExerCiseDB"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".HeartRate.HeartRate.HeartRate"
            android:authorities="HeartRateDB"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".HeartRate.UserDB"
            android:authorities="UserDBs"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".HeartRate.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HeartRate.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
